body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background: #1B244A;
    width: 575px;
    height: 385px;
}

.score {
    color: #F94F6D;
    background: #080001;
}

#home, #guest {
    text-align: center;
}

h3 {
    color: #EEEEEE;

}